dec/dec.pyc
dec/exp/test/
dec/init.caffemodel
dec/mnist_test/
dec/mnist_total/
dec/mnist_train/
dec/net.prototxt
dec/solver.prototxt
dec/train_weight/
dec/images/
dec/output/
dec/image_test/
dec/image_total/
dec/image_train/
mnist/t10k-images-idx3-ubyte
mnist/t10k-labels-idx1-ubyte
mnist/train-images-idx3-ubyte
mnist/train-labels-idx1-ubyte
reuters/lyrl2004_tokens_test_pt0.dat
reuters/lyrl2004_tokens_test_pt1.dat
reuters/lyrl2004_tokens_test_pt2.dat
reuters/lyrl2004_tokens_test_pt3.dat
reuters/lyrl2004_tokens_train.dat
reuters/rcv1-v2.topics.qrels

/images
